body {
    text-align: center;
}


.topic {
    border: solid 1px;
    height: 270px;
    width: 290px;
    margin: 10px;
}
.topic img {

    height: 80%;
    width: 80%;
    margin: auto;
    display: block;
}

.topic p {
    text-align: center;
    font-size: medium;
    background-color: black;
    color: floralwhite;
    float: bottom;
}

.form-check > input:checked {
    background-color: #2aa33ea2;
}

textarea {
    resize: none;
    height:100%;
}

a.card_selection {
    color: black;
    text-decoration: none;
    
}
a.card_selection:hover {
    color: #2aa33ea2;
    text-decoration: none;    
}

.form-group-flask {
    text-align: left;
    
}

.form-button {
    width: 100%;
    margin: 0 auto;
}