{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% set active_page = 'add_card' %}
{% block title %}Add Card{% endblock %}

{% block content %}
<p>Compose a question</p>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col"></div>
            <div class="col">

                <div class="card shadow-sm ">
                    <div id="card-body" class="card-body">
                        <form method="POST">
                            <div name="form-fields">
                                {{ form.csrf_token }}
                                {{ render_field(form.topic) }}
                                {{ render_field(form.question) }}
                                {{ render_field(form.answer) }}
                                {{ render_field(form.incorrect_answer) }}
                                <!-- Some more incorrect answers can be attached here -->
                            </div>
                            <button type="button" id="demo" class="btn btn-md btn-outline-secondary with-break"
                                onclick="addField()">Add Answer</button>
                                <br>
                            {{ form.submit(type="submit", class="btn btn-md btn-outline-secondary form-button") }}
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}