{% extends "base.html" %}
{% set active_page = 'card' %}
{% block title %}Edit Card{% endblock %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% block content %}


<p>
    <button type="button" id="demo" class="btn btn-sm btn-outline-secondary" onclick="displayMessage()">Edit</button>  or 
    <button type="button" id="demo" class="btn btn-sm btn-outline-danger",>Delete</button> selected card.
</p>



<script>
    var someJavaScriptVar = 2;
  </script>

<div class="album py-5 bg-light">
    <div class="container" onload="addFieldsFromList(3)">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col"></div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="form-group">
                            {{ session['topic'] }}
                            {{ t }}
                            <form action="POST">
                                {{ card }}
                                <div name="form-fields">
                                {{ render_field(form.topic) }}

                                {{ render_field(form.question, rows="2") }}

                                {{ render_field(form.answer) }}

                                {% for i in incorrect_answers %}
                                {{ render_field(form.incorrect_answer, value=i) }}
                                {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
                                {% endfor %}

                                <button type="button" id="demo" class="btn btn-md btn-outline-secondary with-break"
                                onclick="addField()">Add Answer</button>
                                <br>
                            </div>
                                {{ form.update(type="submit", class="btn btn-md btn-outline-secondary form-button") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}