{% extends "base.html" %}
{% set active_page = 'card' %}
{% block title %}Edit Card{% endblock %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% block content %}


<p>
    Edit or delete selected card.
</p>




<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col"></div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="form-group-flask">
                            {{ session['topic'] }}
                            {{ t }}
                            <form action="POST">
                                {{ card }}
                                {{ render_field(form.topic) }}

                                {{ render_field(form.question, rows="2") }}

                                {{ render_field(form.answer) }}

                                <!-- {% for ia in range(form.incorrect_answer_fields| length) %}
                                {{ form.incorrect_answer_fields[ia].hidden_tag() }}
                                {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
                                {{ render_field(form.incorrect_answer_fields[ia].incorrect_answer,
                                value=incorrect_answers[ia]) }}
                                {% endfor %} -->

                                {{ form.update(type="submit", class="btn btn-md btn-outline-secondary form-button") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}